body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #201E43;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    padding: 10px 20px;
    background-color: #134B70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header button:hover {
    background-color: #508C9B;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
}

.search-container button {
    padding: 10px 20px;
    background-color: #134B70;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #508C9B;
}

.history-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.history-container h2 {
    margin-top: 0;
}

.history-container ul {
    list-style-type: none;
    padding: 0;
}

.history-container li {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.history-container button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.history-container button:hover {
    background-color: #c82333;
}

footer {
    background-color: #201E43;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode .search-container input {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

body.dark-mode .search-container button {
    background-color: #555;
}

body.dark-mode .search-container button:hover {
    background-color: #777;
}

body.dark-mode .history-container li {
    background-color: #333;
    border: 1px solid #555;
}

body.dark-mode footer {
    background-color: #333;
}